@charset "UTF-8";

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(blue, darkblue);
    padding: 10px;
    text-align: center;

}

header {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    max-width: 1000px;
    min-width: 250px;
    margin-bottom: 10px;
}

main {
    text-align: justify;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    max-width: 1000px;
    min-width: 250px; 
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}